<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncRoot level="all" includeLocation="false">
            <AppenderRef ref="stdout"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
